
*.ide-wal
.vs/TestNinja/v15/.suo
.vs/TestNinja/v15/.suo
.vs/TestNinja/v15/Server/sqlite3/db.lock
.vs/TestNinja/v15/.suo
.vs/TestNinja/v15/Server/sqlite3/storage.ide
.vs/TestNinja/v15/Server/sqlite3/storage.ide-shm
.vs/TestNinja/v15/.suo
